<div class="container">
    <h2>Create a New Event</h2>
    <div class="center">
        <mat-card class="feature-card">
            <mat-card-header>
                <ngx-avatar mat-card-avatar class="avatar-header-image" name="{{ nameFormGroup.value['subtitle'] }}"></ngx-avatar>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>{{ nameFormGroup.value['title'] }}</mat-card-title>
                <mat-card-subtitle *ngIf='data.subtitle'>{{ nameFormGroup.value['subtitle'] }}</mat-card-subtitle>
            </mat-card-header>
            <div class="center">
                <app-flipdown [time_unix]='data.time_unix'></app-flipdown>
            </div>
            <mat-card-content *ngIf='data.content'>
                <p>{{ descriptionFormGroup.value['content'] }}</p>
                <p *ngIf='data.tags'>
                    <mat-chip-list class="center" aria-label="Tags">
                        <!-- <b>Tags: </b> -->
                        <mat-chip *ngFor='let tag of data.tags'>{{ tag }}</mat-chip>
                    </mat-chip-list>
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
                <span class="flex-spacer"></span>
                <button mat-button>TRACK</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>
    <div>
        <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button> -->

        <!-- Value[NAME]: {{ nameFormGroup.value | json }}
        Value: {{ descriptionFormGroup.value | json }} -->
        <h4>Enter the Event Details</h4>
        
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="nameFormGroup">
                <form [formGroup]="nameFormGroup">
                <ng-template matStepLabel>Title</ng-template>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput [formControlName]="'title'" placeholder="Title" required>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Subtitle</mat-label>
                    <input matInput [formControlName]="'subtitle'" placeholder="Subtitle" required>
                </mat-form-field><br>
                    <mat-label>Add to Featured? </mat-label>
                    <mat-checkbox matInput [(ngModel)]="isFeaturedDefault" [formControlName]="'isFeatured'"></mat-checkbox>
                <div>
                    <br>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="descriptionFormGroup">
                <form [formGroup]="descriptionFormGroup">
                <ng-template matStepLabel>Description</ng-template>
                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea matInput formControlName="content" placeholder="Synopsis"
                            required>
                    </textarea>
                    </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Tags</mat-label>
                    <input matInput formControlName="tags" placeholder="HBO etc.,">
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Date and Time</mat-label>
                    <input matInput formControlName="datetime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now ready to submit.</p>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button (click)="onPreview()">Preview</button>
                <button mat-button (click)="onSubmit()">Submit</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>