<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-main">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span (click)='goHome()' [routerLink]=''>Countdown Timer</span>
      <span class="flex-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button [routerLink]="'/account'"> My Account </a>
        <a mat-button [routerLink]="'/signup'"> Create Account </a>
        <a mat-button [routerLink]="'/events'"> Events </a>
        <a mat-button [routerLink]="'/events/create'"> Create Event </a>
      </div>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">Countdown Timer helps you track time left until an Event or Activity is Scheduled.</span>
    </mat-toolbar-row> -->
  </mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a mat-button [routerLink]="'/'"> Home </a>
      <a mat-button [routerLink]="'/account'"> My Account </a>
      <a mat-button [routerLink]="'/signup'"> Create Account </a>
      <a mat-button [routerLink]="'/events'"> Events </a>
      <a mat-button [routerLink]="'/events/create'"> Create Event </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>

    <!-- Main Content -->
    <router-outlet></router-outlet>
        
  </mat-sidenav-content>
</mat-sidenav-container>
