<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-main">
      <h1>Countdown Timer</h1>
      <span class="menu-spacer"></span>
      <span class="flex-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/account'"> My Account </a>
        <a mat-button [routerLink]="'/signup'"> Create Account </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
  
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">Countdown Timer helps you track time left until an Event or Activity is Scheduled.</span>
      </mat-toolbar-row>
  </mat-toolbar>